<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzzh.monitor.dao.mapper.InstanceGroupMapper">
    <select id="selectGroupIdsForUser" resultType="long">
        SELECT id FROM instance_group WHERE owner_id = #{userId}
        OR member_ids @> CONCAT('[', #{userId}, ']')::jsonb
    </select>
</mapper>
