<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzzh.monitor.dao.mapper.TsCapacityGrowthMapper">
    <select id="selectGrowthTrend" resultType="java.util.Map">
        SELECT current_day, current_bytes, prev_week_bytes, growth_bytes, growth_rate_pct
        FROM capacity_weekly_growth
        WHERE instance_id = #{instanceId}
          AND current_day >= #{since}
        ORDER BY current_day ASC
    </select>
</mapper>
