<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzzh.monitor.dao.mapper.TsMetricWriterMapper">
    <insert id="upsertMetric1m">
        INSERT INTO metric_data_1m (instance_id, metric_code, value, collect_time)
        VALUES
        <foreach collection="items" item="it" separator=",">
            (#{it.instanceId}, #{it.metric}, #{it.value}, to_timestamp(#{it.timestampMillis} / 1000.0))
        </foreach>
        ON CONFLICT (instance_id, metric_code, collect_time) DO UPDATE
        SET value = EXCLUDED.value
    </insert>

    <insert id="upsertMetric1h">
        INSERT INTO metric_data_1h (instance_id, metric_code, value, collect_time)
        VALUES
        <foreach collection="items" item="it" separator=",">
            (#{it.instanceId}, #{it.metric}, #{it.value}, to_timestamp(#{it.timestampMillis} / 1000.0))
        </foreach>
        ON CONFLICT (instance_id, metric_code, collect_time) DO UPDATE
        SET value = EXCLUDED.value
    </insert>

    <insert id="upsertMetric1d">
        INSERT INTO metric_data_1d (instance_id, metric_code, value, collect_time)
        VALUES
        <foreach collection="items" item="it" separator=",">
            (#{it.instanceId}, #{it.metric}, #{it.value}, to_timestamp(#{it.timestampMillis} / 1000.0))
        </foreach>
        ON CONFLICT (instance_id, metric_code, collect_time) DO UPDATE
        SET value = EXCLUDED.value
    </insert>
</mapper>
